aiohttp
aiosignal
altair
annotated-types

anyio
arxiv
async-timeout
attrs
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
ctransformers
cymem
dataclasses-json
defusedxml
distro
docstring_parser
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
exceptiongroup
faiss-cpu
feedparser
filelock
fireworks-ai
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-fireworks
langchain-google-genai
langchain-google-vertexai
langchain-text-splitters
langchainhub
langcodes
langsmith
language_data
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
murmurhash
mypy-extensions
networkx
numpy
openai
orjson
packaging
pandas
pillow
preshed
proto-plus
protobuf
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pypdf
PyPDF2
python-box
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sgmllib3k
shapely
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
streamlit
sympy
tavily-python
tenacity
thinc
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
tornado
tqdm
transformers
typer
types-protobuf
types-requests
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
wasabi
watchdog
weasel
wikipedia
xmltodict
yarl
